/* $Id: support-deadline.css,v 1.1 2009/11/12 02:05:33 gengel Exp $ */ 

/* Theme ticket status/priority/client/assigned changes. */
.support-deadline {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}
.support-hours-estimate {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}
.support-hours-actual {
  padding: 3px;
  padding-left: 16px;
  background: #edf4f9;
  font-size: .85em;
}

